<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.order.mapper.RfProduceNoticeMapper">

    <resultMap type="RfProduceNotice" id="RfProduceNoticeResult">
        <result property="id"    column="id"    />
        <result property="produceNoticeCode"    column="produce_notice_code"    />
        <result property="produceNoticeName"    column="produce_notice_name"    />
        <result property="produceNum"    column="produce_num"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="xlsAddress"    column="xls_address"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectRfProduceNoticeVo">
        select id, produce_notice_code, produce_notice_name, produce_num, start_time, end_time, status, xls_address, del_flag, create_by, create_time, update_by, update_time, remark from rf_produce_notice
    </sql>

    <select id="selectRfProduceNoticeList" parameterType="RfProduceNotice" resultMap="RfProduceNoticeResult">
        <include refid="selectRfProduceNoticeVo"/>
        <where>
            <if test="produceNoticeCode != null  and produceNoticeCode != ''"> and produce_notice_code = #{produceNoticeCode}</if>
            <if test="produceNoticeName != null  and produceNoticeName != ''"> and produce_notice_name like concat('%', #{produceNoticeName}, '%')</if>
            <if test="delFlag != null  and delFlag != ''"> and del_flag = #{delFlag}</if>
            <if test="produceNum != null "> and produce_num = #{produceNum}</if>
            <if test="startTime != null "> and start_time &gt;= #{startTime}</if>
            <if test="endTime != null "> and end_time &lt;= #{endTime}</if>
            <if test="xlsAddress != null  and xlsAddress != ''"> and xls_address = #{xlsAddress}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>

    <select id="selectRfProduceNoticeById" parameterType="Long" resultMap="RfProduceNoticeResult">
        <include refid="selectRfProduceNoticeVo"/>
        where id = #{id}
    </select>

    <insert id="insertRfProduceNotice" parameterType="RfProduceNotice" useGeneratedKeys="true" keyProperty="id">
        insert into rf_produce_notice
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="produceNoticeCode != null and produceNoticeCode != ''">produce_notice_code,</if>
            <if test="produceNoticeName != null">produce_notice_name,</if>
            <if test="produceNum != null">produce_num,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="status != null">status,</if>
            <if test="xlsAddress != null">xls_address,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="produceNoticeCode != null and produceNoticeCode != ''">#{produceNoticeCode},</if>
            <if test="produceNoticeName != null">#{produceNoticeName},</if>
            <if test="produceNum != null">#{produceNum},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="status != null">#{status},</if>
            <if test="xlsAddress != null">#{xlsAddress},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateRfProduceNotice" parameterType="RfProduceNotice">
        update rf_produce_notice
        <trim prefix="SET" suffixOverrides=",">
            <if test="produceNoticeCode != null and produceNoticeCode != ''">produce_notice_code = #{produceNoticeCode},</if>
            <if test="produceNoticeName != null">produce_notice_name = #{produceNoticeName},</if>
            <if test="produceNum != null">produce_num = #{produceNum},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="xlsAddress != null">xls_address = #{xlsAddress},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRfProduceNoticeById" parameterType="Long">
        delete from rf_produce_notice where id = #{id}
    </delete>

    <delete id="deleteRfProduceNoticeByIds" parameterType="String">
        delete from rf_produce_notice where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>