<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('采购订单列表')"/>
</head>

<style>
    .layui-layer-content {
        height: 100% !important;
    }

    .layui-layer-tabmain,
    .layui-layer-tabli {
        height: 100% !important;
    }

</style>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>客户名称：</label>
                            <input type="text" name="purchaseName"/>
                        </li>
                        <li>
                            <label>采购日期：</label>
                            <input type="text" class="time-input" placeholder="请选择采购日期" name="purchaseDate"/>
                        </li>
                        <li>
                            <label>采购单号：</label>
                            <input type="text" name="orderNum"/>
                        </li>
                        <li>
                            <label>产品名称：</label>
                            <input type="text" name="productNameCn"/>
                        </li>
                        <li>
                            <label>规格型号：</label>
                            <input type="text" name="productNameEn"/>
                        </li>
                        <li>
                            <label>材质：</label>
                            <input type="text" name="material"/>
                        </li>
                        <li class="select-time">
                            <label>交货日期：</label>
                            <input type="text" class="time-input" id="startTime" placeholder="开始时间"
                                   name="params[beginNeedTime]"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间"
                                   name="params[endNeedTime]"/>
                        </li>
                        <li>
                            <label>状态：</label>
                            <select name="orderStatus" th:with="type=${@dict.getType('ord_status')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="order:orderinfo:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-primary single disabled" onclick="$.operate.edit()"
               shiro:hasPermission="order:orderinfo:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="order:orderinfo:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="order:orderinfo:export">
                <i class="fa fa-download"></i> 导出
            </a>
            <a id="button-confirm" class="btn btn-primary multiple disabled" onclick="checkItem()" shiro:hasPermission="order:orderinfo:pronotice">
                <i class="fa fa-pronotice"></i> 生产通知单
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('order:orderinfo:edit')}]];
    var removeFlag = [[${@permission.hasPermi('order:orderinfo:remove')}]];
    var orderStatusDatas = [[${@dict.getType('ord_status')}]];
    var prefix = ctx + "order/orderinfo";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "采购订单",
            sortName:'needTime',
            sortOrder:'desc',
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '主键id',
                    visible: false
                },
                {
                    field: 'purchaseName',
                    title: '客户名称'
                },
                {
                    field: 'purchaseDate',
                    title: '采购日期'
                },

                {
                    field: 'orderNum',
                    title: '采购单号'
                },
                {
                    field: 'productNameCn',
                    title: '产品名称'
                },
                {
                    field: 'productNameEn',
                    title: '规格型号'
                },
                {
                    field: 'material',
                    title: '材质'
                },
                {
                    field: 'amount',
                    title: '数量'
                },
                {
                    field: 'unit',
                    title: '单位'
                },
                {
                    field: 'price',
                    title: '单价'
                },
                {
                    field: 'needTime',
                    title: '交货日期'
                },
                {
                    field: 'paidNum',
                    title: '已交'
                },
                {
                    field: 'unpaidNum',
                    title: '未交'
                },
                {
                    field: 'orderFrom',
                    title: '请购'
                },
                {
                    field: 'orderStatus',
                    title: '状态',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(orderStatusDatas, value);
                    }
                },
                {
                    field: 'sendInfo',
                    title: '发货信息'
                },
                {
                    field: 'remark',
                    title: '备注'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        //actions.push('<a class="btn btn-success btn-xs" href="javascript:void(0)" onclick="viewPdf(\'' + row.productPic + '\')"><i class="fa fa-edit"></i>查看图纸</a>');
                        actions.push('<a class="btn btn-info btn-xs" href="javascript:void(0)" onclick="viewPdf(\'' + row.productPic + '\')"><i class="fa fa-info"></i>查看图纸</a> ');
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    /* 查询看Pdf文件 */
    function viewPdf(url) {
        var tabs = [];
        urls =url.split(',');

        // 生成每个 PDF 文件对应的 tab
        for (var i = 0; i < urls.length; i++) {
            tabs.push({
                title: '第'+(i + 1)+'张' +'图纸',
                content: '<iframe src="' + urls[i] + '" width="100%" height="100%" frameborder="0"></iframe>'
            });
        }

        // 使用 layer.tab 展示 PDF 文件
        layer.tab({
            area: ['85%', '85%'],
            tab: tabs,
            //btn: ['确定', '关闭'],
            // 弹层外区域关闭
            shadeClose: true,
            fix: false,
            //不固定
            maxmin: true,
        });

        // 打开弹窗，显示 PDF 文件
        //$.modal.open("查看图纸", url);
    }

    // 选中数据
    function checkItem(){
         var ids = $.table.selectColumns("id").join(",");
        //var data = $("#" + table.options.id).bootstrapTable('getSelections');
            table.set();
            var rows = $.common.isEmpty(table.options.uniqueId) ? $.table.selectFirstColumns() : $.table.selectColumns(table.options.uniqueId);
            if (rows.length == 0) {
                $.modal.alertWarning("请至少选择一条记录");
                return;
            }
            $.modal.confirm("确认是选中的" + rows.length + "条数据需要生成生产通知单吗吗?", function() {
                //是否包含已全部安排生产的订单，如果包含则提示
                checkProNoticeConfirm(ids);
            });
    }

    function checkProNoticeConfirm(ids){
        // 将ids转换为JSON字符串
        $.ajax({
            type: "post",
            url: prefix + "/check_pro_notice_confirm",
            data:  { ids: ids },
            cache: false,
            dataType: 'json',
            success: function(result) {
                if (result.code == 0) {
                    $.modal.open("生成生产通知单", prefix + "/pro_notice_confirm?ids="+ ids);
                } else {
                    $.modal.alertError("存在重复下计划订单，请确认！");
                }
            },
            error: function(error) {
                $.modal.alertError("生产通知单生成失败！");
            }
        });
    }

</script>
</body>
</html>