<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('生产通知单确认页')"/>
    <th:block th:include="include :: bootstrap-editable-css"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="btn-group-sm" id="toolbar" role="group">
        <a id="button-confirm" class="btn btn-danger multiple disabled" onclick="removeRow()">
            <i class="fa fa-remove"></i> 删除选择行
        </a>
    </div>
    <div class="row">
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<th:block th:include="include :: bootstrap-table-editable-js"/>
<script th:inline="javascript">
    var prefix = ctx + "order/orderinfo";
    //var prefix = ctx + "demo/table";
    //var datas = [[${@dict.getType('sys_normal_disable')}]];
    // 获取 URL 中的参数
    function getUrlParameter(name) {
        name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
        var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
        var results = regex.exec(location.search);
        return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
    }

    // 获取 ids 参数的值
    var ids = getUrlParameter('ids');

    //var dataString = /*[[${rfOrder}]]*/ [];
    //var dataObject = JSON.parse(dataString);
    //console.log(ids);
    $(function () {
        var options = {
            url: prefix + "/pro_notice_confirm_list",
            queryParams: {ids: ids},
            showSearch: false,
            showRefresh: false,
            showToggle: false,
            showColumns: false,
            onEditableSave: onEditableSave,
            columns: [
                {
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '主键id',
                    visible: false
                },
                {
                    field: 'purchaseName',
                    title: '客户名称',
                    visible: false
                },
                {
                    field: 'purchaseDate',
                    title: '采购日期',
                    visible: false
                },


                {
                    field: 'productNameCn',
                    title: '产品名称'
                },
                {
                    field: 'productNameEn',
                    title: '规格型号'
                },
                {
                    field: 'material',
                    title: '材质',
                    editable: true
                },
                {
                    field: 'unpaidNum',
                    title: '数量',
                    editable: true
                },
                {
                    field: 'material_standards',
                    title: '用料规格',
                    editable: true
                },
                {
                    field: 'material_weight',
                    title: '毛坯重量'
                },
                {
                    field: 'product_weight',
                    title: '产品净重'
                },
                {
                    field: 'amount',
                    title: '总数量',
                    visible: false
                },
                {
                    field: 'unit',
                    title: '单位',
                    visible: false
                },
                {
                    field: 'price',
                    title: '单价',
                    visible: false
                },
                {
                    field: 'needTime',
                    title: '交货时间'
                },
                {
                    field: 'paidNum',
                    title: '已交',
                    visible: false
                },

                {
                    field: 'orderFrom',
                    title: '请购',
                    visible: false
                },
                {
                    field: 'orderNum',
                    title: '订单号'
                },
                {
                    field: 'remark',
                    title: '备注',
                    editable: true
                }
            ]
        };
        $.table.init(options);
    });

    /* 删除指定表格行 */
    function removeRow() {
        var ids = $.table.selectColumns("id");
        //var data = $("#" + table.options.id).bootstrapTable('getSelections');
        table.set();
        var rows = $.common.isEmpty(table.options.uniqueId) ? $.table.selectFirstColumns() : $.table.selectColumns(table.options.uniqueId);
        if (rows.length == 0) {
            $.modal.alertWarning("请至少选择一条记录");
            return;
        }
        $.modal.confirm("确认删除" + rows.length + "条数据吗?", function () {
            $("#" + table.options.id).bootstrapTable('remove', {
                field: 'id',
                values: ids
            })
        });


    }

    // /*提交 生产通知单*/
    // function submitHandler(index, layero) {
    //     var rows = $.table.selectFirstColumns();
    //     if (rows.length == 0) {
    //         $.modal.alertWarning("请至少选择一条记录");
    //
    //         return;
    //     }
    //     var options = {
    //         width: '100px',
    //         height: '100px',
    //         title: '请输入生产通知单名称',
    //         url: prefix + "/input_pro_notice_name",
    //         callBack: doSubmit
    //     };
    //     $.modal.openOptions(options);
    //
    // }
    //
    // function doSubmit(index, layero){
    //     var body = $.modal.getChildFrame(index);
    //     $.modal.close(index);
    //     var data = JSON.stringify($("#" + table.options.id).bootstrapTable('getData'));
    //     $.ajax({
    //         type: "post",
    //         url: prefix + "/generate_pro_notice",
    //         data: data,
    //         cache: false,
    //         contentType: false,
    //         processData: false,
    //         dataType: 'json',
    //         success: function(result) {
    //             if (result == 0) {
    //                 $.modal.alertSuccess("生产通知单生成成功，请前往打印！")
    //                 // 需要关闭窗口的url
    //                 $.modal.close(index);
    //             } else {
    //                 $.modal.alertError("生产通知单生成失败！");
    //             }
    //         },
    //         error: function(error) {
    //             $.modal.alertError("生产通知单生成失败！");
    //         }
    //     });
    // }

    /* 提交生产通知单 */
    function submitHandler(index, layero) {
        // 打开子弹窗，用于输入生产通知单名称
        var options = {
            width: '100px',
            height: '100px',
            title: '请输入生产通知单名称',
            url: prefix + "/input_pro_notice_name",
            callBack: function(index, layero) {
                // 获取子弹窗的输入值
                var body = $.modal.getChildFrame(index);
                var name = body.find('#name').val();
                if (name == "" || name == null){
                    $.modal.alertError("请填写通知单名称！");
                    return;
                }
                // 执行提交操作
                doSubmit(name, index);
            }
        };
        $.modal.openOptions(options);
    }

    /* 执行提交操作 */
    function doSubmit(name, childIndex) {
        var data = $("#" + table.options.id).bootstrapTable('getData');
        var requestData = {
            name: name,
            data: data
        };
        $.ajax({
            type: "post",
            url: prefix + "/generate_pro_notice",
            data: JSON.stringify(requestData),
            contentType: "application/json",
            cache: false,
            dataType: 'json',
            success: function(result) {
                if (result == 0) {

                    // 关闭子弹窗
                    $.modal.close(childIndex);
                    // 关闭父弹窗
                    $.modal.closeAll();
                    $.modal.alertSuccess("生产通知单生成成功，请前往打印！")
                } else {
                    $.modal.alertError("生产通知单生成失败！");
                }
            },
            error: function(error) {
                $.modal.alertError("生产通知单生成失败！");
            }
        });
    }

    function onEditableSave(field, row, rowIndex, oldValue, $el) {
        if (field === "unpaidNum" && row[field] > oldValue) {
            row[field] = oldValue;
            alert("数量超过最大值!");
        }

    }


</script>
</body>
</html>